---

---
#post-content
  img
    max-width: 100%
    height: auto
    border: 1px solid rgba(0, 0, 0, 0.14)



// gitment的样式
.gitment-editor-tabs
  background-color: #bdbdbd  !important


.gitment-comment
  list-style: none !important


hr.style
  background: transparent url(/assets/blog_res/type_3.png) no-repeat
  height: 150px
  border: none !important
  //background-size : 80%
  background-position: left center



hr.hr_toc
  background: transparent url(/assets/blog_res/toc.jpg) no-repeat
  height: 80px
  border: none !important
  //background-size : 80%
  background-position: center bottom


code
    width: 100%


code .rouge-code
  width: 100%
  background-color: #f3f4f4

//sup类标签和supclass
.sup
  &::after
    display: none
    margin-left: 10px
    content: attr(data-title)
    //top: 50%
    border: 1px solid #002f5f
    position: absolute
    -webkit-transform: translatey(-50%)
    -moz-transform: translatey(-50%)
    -o-transform: translatey(-50%)
    transform: translatey(-50%)
    font: 14px/20px Arial
    padding: 5px 8px
    background-color: #ffd34f
    // z-index: 1000 用于将文字框显示到最前面
    z-index: 1000
    width: 300px
    text-align: center
    border-radius: 6px
    line-height: 1.45em
    transition: opacity 0.3s

  &:hover
    //color: #ffffff
    cursor: pointer

    &::after
      display: inline-block


