---

---
#post-content
  img
    max-width: 100%
    height: auto
    border: 1px solid rgba(0, 0, 0, 0.14)



// gitment的样式
.gitment-editor-tabs
  background-color: #bdbdbd  !important


.gitment-comment
  list-style: none !important


//hr
//  border-top: 1px solid #bbb !important
//  text-align: center !important
//
//
//hr:after
//  content: '§' !important
//  display: inline-block !important
//  position: relative !important
//  top: -14px !important
//  padding: 0 10px !important
//  background: #f0f0f0 !important
//  color: #bbb !important
//  font-size: 18px !important
//  -webkit-transform: rotate(60deg) !important
//  -moz-transform: rotate(60deg) !important
//  transform: rotate(60deg) !important


hr
  background: transparent url(/assets/blog_res/type_3.png) no-repeat
  height: 150px
  border: none !important
  //background-size : 80%
  background-position: left center



