---

---
#post-content
  img
    max-width: 100%
    height: auto
    border: 1px solid rgba(0, 0, 0, 0.14)



// gitment的样式
.gitment-editor-tabs
  background-color: #bdbdbd  !important


.gitment-comment
  list-style: none !important


hr.style
  background: transparent url(/assets/blog_res/type_3.png) no-repeat
  height: 150px
  border: none !important
  //background-size : 80%
  background-position: left center



hr.hr_toc
  background: transparent url(/assets/blog_res/toc.jpg) no-repeat
  height: 80px
  border: none !important
  //background-size : 80%
  background-position: center bottom


code
    width: 100%


code .rouge-code
  width: 100%
