---

---
//TOC  table of content 目录
#toc_container
  background: #f9f9f9 none repeat scroll 0 0
  border: 1px solid #aaa
  display: table
  font-size: 95%
  margin-bottom: 1em
  padding: 12px
  width: auto
  margin-top: 15px
  //margin-top: 5px



.toc_title
  font-weight: 700
  margin-bottom: 4.277px
  text-align: center


#toc_container
  counter-reset: section
  list-style-type: none

  li
    //list-style-position: inside
    //list-style: outside none none !important
    margin-bottom: 1.426px

  li::before
    //width: 3px
    //display: inline-block
    //font-size: 100%
    //font-weight: bold
    counter-increment: section
    content: counters(section, ".") " "


  ol
    //list-style-position: inside
    padding-left: 20px
    counter-reset: section                /* 为每个ol元素创建新的计数器实例 */
    list-style-type: none







