<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">九千鸦</h4>
  </div>
  <div class="user-content">
    <p>
    一个后端工程师 , 喜欢编程 , 更喜欢编程当中的思想.
    </p>
    <p>
      一个二次元死宅 , 从动漫中 , 也可以思考很多 . 游戏宅 , 快乐是我自己定义的 . 
    </p>
    <p>
    帰る場所がないのであれば、前に進もう。
    </p>
  </div>
</div>