<div class=" col s8 offset-s2 tag-div">
    <div class="user-pic center-align">
        <a><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">九千鸦</h4>
    </div>
    <div class="user-content ">
        <p>一个憧憬着Geek的宅宅，玩过C、C++、Java、Go、Python、Shell等语言</p>
        <p>一个二次元死宅，推荐《Psycho-Pass》《黑礁》，日本动漫蕴含着挺多哲学。</p>
        <p>一个二次维基人，共同维护一个大大的百科全书，并平等地将知识分享给每一个人，这是我的信念之一。</p>
        <p>一个游戏宅， 喜欢《巫师3》等具有深度的角色扮演、各种战旗游戏，如：《文明》。反正好玩都想试试。</p>
        <p>一个无性别者，性别在现代社会仅仅是一种束缚，和我追求的自由截然不同。</p>
        <p>
            帰る場所がないのであれば、前に進もう。
        </p>
        <p>
            <a class="waves-effect waves-light btn-floating btn-large social github"
               href="https://github.com/{{site.data.profile.github}}" target="_blank">
                <i class="fa fa-github"></i> </a>
            <a class="waves-effect waves-light btn-floating btn-large social linkedin"
               href="https://www.linkedin.com/in/{{site.data.profile.twitter}}/" target="_blank"
            ><i class="fa fa-linkedin"></i> </a>
            <a class="waves-effect waves-light btn-floating btn-large social twitter"
               href="https://zh.wikipedia.org/wiki/User:%E4%B9%9D%E5%8D%83%E9%B8%A6" target="_blank">
                <i class="fa fa-wikipedia-w"></i> </a>




        </p>
    </div>


</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">