</head>
<body>
<header>
    <nav class="top-nav teal">
        <div class="nav-wrapper">
            <div class="container">
                <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <ul id="slide-out" class="side-nav fixed">
        <!--   头像     -->
        <li>
            <div class="userView">
                <div class="background"></div>
                <a href="/about" target="_blank">
                    <img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png" style="margin: auto;">
                </a>
                <span class="white-text name center-align" style="font-size: 18px">{{site.user}}</span>
                <span class="white-text email center-align" style="font-size: 15px">{{site.user_email}}</span>
            </div>
        </li>
        <!--   Tag     -->
        <!--   Issues     -->
        <!--   RSS     -->
        <!--   About     -->
        <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">label</i>Tags</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/issues"><i class="material-icons">build</i>Issues</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/feed.xml" target="_blank"><i class="material-icons">rss_feed</i>RSS</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>About</a></li>
    </ul>
</header>
<main>