<!-- 动态页面 -->
<div class="row">
    <div class="col xl8 offset-xl2">
        <div id='comments'></div>
    </div>
</div>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="/assets/js/gitment.browser.js"></script>
<script
        src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
        integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
        crossorigin="anonymous"></script>
<script>


    const myTheme = {
        render(state, instance) {
            const container = document.createElement('div')
            container.lang = "en-US"
            container.className = 'gitment-container gitment-root-container'

            // your custom component
            // container.appendChild(instance.renderSomething(state, instance))
            container.appendChild(instance.renderComments(state, instance))
            //   container.appendChild(instance.renderHeader(state, instance))
            // container.appendChild(instance.renderEditor(state, instance))
            container.appendChild(instance.renderFooter(state, instance))
            return container
        },

        renderSomething(state, instance) {
            const container = document.createElement('div')
            container.lang = "en-US"
            if (state.user.login) {
                container.innerText = `Hello, ${state.user.login}`
            }
            return container
        }
    }


    const gitment = new Gitment({
        id: 'personal moments', // optional
        owner: 'caliburn1994',
        repo: 'gitment',
        oauth: {
            client_id: '42072e5ad65b357c17de',
            client_secret: '3fa23bb75c346c1fb4dde2a0502df0d74cdddcc8',
        },
        // ...
        // For more available options, check out the documentation below
        theme: myTheme,
    })

    gitment.render('comments')
    // or
    // gitment.render(document.getElementById('comments'))
    // or
    // document.body.appendChild(gitment.render())
    setTimeout(
        function()
        {
            $('.gitment-comments-page-item')[0].click();
        }, 50);
</script>
