<div class="row">
    <div class="col s8 offset-s2 ">
        <div id='comments'></div>
    </div>
</div>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="/assets/js/gitment.browser.js"></script>
<script>


    const myTheme = {
        render(state, instance) {
            const container = document.createElement('div')
            container.lang = "en-US"
            container.className = 'gitment-container gitment-root-container'

            // your custom component
            // container.appendChild(instance.renderSomething(state, instance))
            container.appendChild(instance.renderComments(state, instance))
            //   container.appendChild(instance.renderHeader(state, instance))
            // container.appendChild(instance.renderEditor(state, instance))
            container.appendChild(instance.renderFooter(state, instance))
            return container
        },

        renderSomething(state, instance) {
            const container = document.createElement('div')
            container.lang = "en-US"
            if (state.user.login) {
                container.innerText = `Hello, ${state.user.login}`
            }
            return container
        }
    }


    const gitment = new Gitment({
        id: 'personal moments', // optional
        owner: 'caliburn1994',
        repo: 'gitment',
        oauth: {
            client_id: '42072e5ad65b357c17de',
            client_secret: '3fa23bb75c346c1fb4dde2a0502df0d74cdddcc8',
        },
        // ...
        // For more available options, check out the documentation below
        theme: myTheme,
    })

    gitment.render('comments')
    // or
    // gitment.render(document.getElementById('comments'))
    // or
    // document.body.appendChild(gitment.render())
</script>