{% if page.series %}

{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
{% if post.series == page.series %}
{% capture count %}{{ count | plus: '1' }}{% endcapture %}
{% if post.url == page.url %}
{% capture idx %}{{count}}{% endcapture %}
{% endif %}
{% endif %}
{% endfor %}


<!-- 参考地址：https://digitaldrummerj.me/blogging-on-github-part-13-creating-an-article-series/-->
<div class="col s9 offset-s1" >
    <hr class="hr_toc">
    <div class="collection ">
        <div class="collection-header" style="border-bottom:1px solid #e0e0e0">
            <div style="padding-left: 15px;
                        font-size: 1.3em;
                        line-height: 1.43;
                        position: relative;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-weight: bold;">
                「{{ page.series }}」 系列文章
            </div></div>

        {% assign count = '0' %}
        {% for post in site.posts reversed %}
        {% if post.series == page.series %}
        {% capture count %}{{ count | plus: '1' }}{% endcapture %}

        {% if page.url == post.url %}
        <div class="collection-item ">Part {{ count }} -{{ page.title }}</div>
        {% else %}
        <a class="collection-item" href="{{post.url}}" target="_blank" class>Part {{ count }} -{{post.title}}</a>
        {% endif %}

        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}