div.photos_gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.photos_gallery:hover {
    border: 1px solid #777;
}

div.photos_gallery img {
    /*width: 100%;*/
    /*height: auto;*/
}

div.photos_desc {
    padding: 15px;
    text-align: center;
}