{% include header_before_tag.html %}
{% include header_after_tag.html %}

<div class="row section">
    <div class="co2 s11">
        {{ content }}
    </div>
</div>

{% include footer.html %}

<!-- photos js and css -----   begin   -->
<script src="https://caliburn1994.github.io/assets/js/photos/jquery.min.js" type="text/javascript"></script>

<!-- nanogallery2 -->
<link href="https://unpkg.com/nanogallery2@2.3.0/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript"
        src="https://caliburn1994.github.io/assets/js/photos/jquery.nanogallery2.min.js"></script>
<!-- photos js and css -----   end   -->