---
layout: default
css: ["post/github.css","post/toc.css","post/other.css"]
js: ["post.js","marked.min.js"]
---
<div class="row">
    <div class=" col s9 offset-s1">

        <div id="post-info">
            <h1>{{page.title}}</h1>
            <ul class="collapsible hoverable" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Date">date_range</i>
          {{page.date | date: "%d/%m/%Y %H:%M"}}

            <!--<i class="material-icons tooltipped" data-position="center">update</i>-->
            <!--{{page.last_modified_at | date: "%d/%m/%Y %H:%M"}}-->

          <i id="indicate" class="right material-icons tooltipped" data-position="left" data-delay="30"
             data-tooltip="Show extra info">info</i>
        </span>


                    </div>
                    <div class="collapsible-body">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Categories">sort</i>
          {% for cat in page.categories %}
          {% capture test %}{{cat | slice: 0}}{% endcapture %}
          {% capture testup %}{{cat | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div
                  class="chip">{{cat}}</div></a>
          {% endfor %}
        </span>
                        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Tags">label</i>
          {% for tag in page.tags %}
          {% capture test %}{{tag | slice: 0}}{% endcapture %}
          {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div
                  class="chip">{{tag}}</div></a>
          {% endfor %}
        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="row" id="post-content">
            <div class="col s12">


                <!--目录-->

                {% include toc.html html=content id="toc_container" ordered=true %}
                <!-- func:addTitleForTOC-->

                <!--文章-->
                <section itemprop="articleBody">
                    {{ content }}
                </section>

                <!--系列-->
                {% include series.html %}


                <!-- abbr 的modal模式-->
                <!-- func:addModal addModalListener -->

            </div>
        </div>




        <!--评论-->
        {% if site.disqus_shortname and page.comments %}
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = "{{site.url}}{{site.baseurl}}{{page.url}}";
                this.page.identifier = "{{page.id}}";
            };
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//{{site.disqus_shortname}}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>

        <!--<div id='comments'></div>-->
        <!--<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">-->
        <!--<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>-->
        <!--<script>-->
            <!--var str='{{ page.title }}';-->
            <!--var id = str;-->
            <!--if(str.length>=45){-->
                <!--id=str.substring(0,45)+"...";-->
            <!--}-->


            <!--const gitment = new Gitment({-->
                 <!--id: id, // optional-->
                <!--owner: 'caliburn1994',-->
                <!--repo: 'gitment',-->
                <!--oauth: {-->
                    <!--client_id: '42072e5ad65b357c17de',-->
                    <!--client_secret: '3fa23bb75c346c1fb4dde2a0502df0d74cdddcc8',-->
                <!--},-->
                <!--// ...-->
                <!--// For more available options, check out the documentation below-->
            <!--})-->

            <!--gitment.render('comments')-->
            <!--// or-->
            <!--// gitment.render(document.getElementById('comments'))-->
            <!--// or-->
            <!--// document.body.appendChild(gitment.render())-->
        <!--</script>-->



    </div>
</div>
{% endif %}



